.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: #383838;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: #383838;
}
.split-pane-divider {
  -fx-padding: 5;
  -fx-border-color: #383838;
}

.split-pane {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
 }
 
 