.lineno{
   -fx-background-color: #fff;
   -fx-font-size: 20;
}

.background {
    -fx-background-color: #1d1d1d;
}

.red { 
    -fx-fill: red; 
}

.blue{
    -fx-fill: #33AACC;
}

.green{
    -fx-fill: green;
}

.orange{
    -fx-fill: orange;
}

.purple{
    -fx-fill: purple;
}

.black{
    -fx-fill: black;
}